

body {

	background-color: black;
	color: white;
}

h1 {

	font-family: 'Bowlby One SC', cursive;
	font-size: 60px;
	text-align: right;
	padding: 40px;
}

h2 {
	
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 40px;
	text-align: center;
	padding: 20px;

}

p {
	
	font-family: 'Audiowide', cursive;
	font-size: 30px;
	padding: 10px;
}

button {
	
	font-family: 'Audiowide', cursive;
	font-size: 40px;
	padding: 10px;
	margin: 10px;
	font-weight: bold;

}


.container {

	background-image: url('../images/giphy.gif');
	background-repeat: repeat;
	margin: 20px;
}


.select-character {

	/*background-color: */
	
	
}

.current-char {
	
	background-color: white;
	color: black;
}

/* character class to format images in game */
.characters {

	text-align: center;
	border: 2px solid white;
	width: 20%;
}

.align-characters {

	float: left;
}

.char-name {

	font-size: 25px;
}

.char-image {

	padding: 10px;
}

.char-hp {

	font-size: 20px;
}

/* not needed here */
#your-character {

	clear: left;
}

.current-enemies {

	background-color: red;
	color: black;
	border-color: black;
}

.current-opponent {

	background-color: black;
	color: red;
	border-color: red; 
}

#reset {

	visibility: hidden;
}




